header {
    text-align: center;
}
.main {
    text-align: center;
    display: flex;
    justify-content: center;
}
/* .dayPlanner { */
    width: 700px;
    display: flex;
    flex-grow: 1;
}
/* .row { */
    display: flex;
    flex-grow: 1;
    height: 40px;
    width: 700px;
}
/* .hour { */
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.btn {
    display: flex;
    justify-content: right;
}