header {
    text-align: center;
}
.main {
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.dayPlanner {
    background-color: azure;
    width: 900px;
}
.row{
    display: flex;
    justify-content: right;
}
hr {
    line-height: 40px;
    display: flex;
    justify-content: left;
}
.todo {
    display: flex;
    justify-content: center;
    width: 800px;
    line-height: 40px;
}

.btn {
    background-color: lightsalmon;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: right;
    margin-right: 0px;
}